:root {
    --clr-primary: red;
}

.main_background {
    background-color: black;
    height: 100dvh;
}

/* .main_background {
    height: 100dvh;
    background: linear-gradient(45deg, #00232f, #f80000, #c80067, #00232f);
    background-size: 400% 120%;
    animation: gradient_background 30s ease-in-out infinite;
    animation-direction: alternate;
}

@keyframes gradient_background {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */

.h1_title {
    color: white;
    font-size: 5rem;
    font-weight: 900;
}

.box {
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    left: 50vw;
    top: 50vh;
}