@font-face {
    font-family: "syne";
    src: url("./assets/Syne-VariableFont_wght.ttf") format("ttf");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "syne", Helvetica, sans-serif;
}


/* Generamos nuestra variable [data-hidden], para ocultar todos aquellos elemts que no queremos que se muestren en primera instancia! */
[data-hidden] {
    opacity: 0;
}

.white_spacer {
    min-height: 40dvh;
}


/* ---------------------------------------- HERO SECTION ---------------------------------------- */

.hero {
    /* border: 5px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100dvh;
}

.hero_title {
    font-size: 8rem;
    position: absolute;
    z-index: 10;

    transform: translateY(0%);
    /* background: rgba(255, 255, 255, 0.2); */
}



.hero_images {
    width: 100%;
    /* min-height: 100dvh; */
    height: auto;
    overflow: hidden;
    /* border: 4px solid yellow */
}

.image_01 {
    position: absolute;
    height: 60%;
    z-index: 0;
    top: 0;
    left: 0;
}

.image_02 {
    height: 50%;

    position: absolute;
    z-index: -1;
    top: 32%;
    left: 22%;
}

.image_03 {
    height: 46%;
    position: absolute;
    z-index: 0;

    bottom: 0;
    right: 0;
}

.image_04 {
    position: absolute;
    height: 48%;
    z-index: -1;

    top: -5%;
    right: 12%;
}

.image_05 {
    position: absolute;
    height: 50%;
    z-index: -1;

    bottom: 5%;
    right: 40%;
}

.logo_primary_black {
    position: absolute;
    z-index: 99;

    height: 6rem;
    bottom: 2rem;
    left: 2rem;
}


/* ----------- CSS PARA LA SECCIÓN BLOQUE DE TEXTO ------------------------------- */
.section {
    min-height: 100dvh;
    /* border: 5px solid orange; */

    font-size: 2.2rem;
    line-height: 1.8rem;

    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    height: fit-content;
    /* border: 1px solid blue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.text_effect {
    /* border: 1px solid magenta; */
    margin-left: 2rem;
}

.text_overlay {
    background: rgba(255, 0, 0, 0.299);
}

.text_effect p {
    color: #0e0e0e;
}


/* ----------- CSS PARA LA SECCIÓN DE IMAGEN COMPLETA ------------------------------- */
.full_image_cover {
    position: relative;
    overflow: hidden;

    min-height: 120dvh;
    /* border: 5px solid rebeccapurple; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.full_image_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.full_image_text h2 .span_text {
    font-size: 1.8rem;
    line-height: 3.2rem;
    text-decoration: underline;
    color: #ffffff;
    cursor: pointer;
}

.full_image_text h2 .span_year {
    font-size: 4rem;
    color: #ffffff;
}

.full_image_text p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #f7f7f7;
}

.full_image_text button {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    color: white;
    background: #0e0e0e9e;
    font-size: 1.4rem;
    padding: 0.6rem;
    border: .8px solid white;

    cursor: pointer;
    transition: ease-in 0.4s;
}

.full_image_text button:hover {
    color: rgb(255, 0, 0);
    border: .8px solid rgb(255, 0, 0);
}

.full_image_cover img {
    position: absolute;
    inset: 0;
    z-index: -10;
    object-fit: contain;
    filter: brightness(0.4);

    /* El clip-path nos permite generar un polígono que recorta la imagen en los valores especificados; */
    clip-path: polygon(5% 10%, 95% 10%, 95% 90%, 5% 90%);
}


/* ----------- CSS PARA LA SECCIÓN DE JOIN THE MOVEMENT ------------------------------- */
.join_the_movement {
    height: 100dvh;
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: rgb(20, 20, 20);
    /* border: 5px solid lime; */
}

.join_us_text {
    position: relative;
    z-index: 1;
    font-size: 2.4rem;
    width: 50%;

    transform: translateX(100%);

    margin-top: 4rem;
    margin-bottom: 4rem;
}

.join_us_text strong {
    cursor: pointer;
    text-decoration: underline;
    transition: ease-in 0.4s;
}

.join_us_text strong:hover {
    cursor: pointer;
    text-decoration: underline;
    color: red;
}